<section class="flex flex-column align-items-center justify-content-center">
    <img src="../../../../assets/img/icons/GoodGainCompleto.svg" alt="Logo" class="logo">
    <h1 class="mt-0 mb-7 text-5xl">Criar conta</h1>
    <form [formGroup]="formCadastro" class="px-5 md:px-0">
        <div class="grid flex justify-content-center">
            <div class="col-12 md:col-6">
                <app-form type="text" [exibirLabelObrigatoriedade]="true" [readonly]="loadingRequest()" id="username" formControlName="nomeCompleto" erro="Informe o seu nome completo" label="Nome completo" placeholder="Digite seu usuário" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-6">
                <app-form type="cpf" [exibirLabelObrigatoriedade]="true" [readonly]="loadingRequest()" id="cpf" formControlName="cpf" placeholder="Digite seu CPF" [erro]="erroCPF()" label="CPF" (blur)="validarCPF()" ngDefaultControl/>
            </div>    
            <div class="col-12 md:col-6">
                <app-form type="text" [exibirLabelObrigatoriedade]="true" [readonly]="loadingRequest()" id="username" formControlName="username" placeholder="Digite o seu username" erro="Informe o seu username!" label="Nome de usuário" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-6">
                <app-form type="date-manual" [exibirLabelObrigatoriedade]="true" [readonly]="loadingRequest()" id="dataNascimento" formControlName="dataNascimento" placeholder="Digite a sua data de nascimento" erro="Informe sua data de nascimento!" label="Data de Nascimento" (blur)="validarDataValida()" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-6">
                <app-form type="password" [exibirLabelObrigatoriedade]="true" [readonly]="loadingRequest()" id="password" formControlName="password" placeholder="Digite a sua senha" label="Senha" ngDefaultControl/>
                @if(formCadastro.get('password').touched){
                  <app-validador-senha-forte [senha]="formCadastro.get('password').value"></app-validador-senha-forte>  
                }
            </div>
            <div class="col-12 md:col-6">
                <app-form type="password" [exibirLabelObrigatoriedade]="true" [readonly]="loadingRequest()" id="password" formControlName="confirmPassword" placeholder="Digite a sua senha" [erro]="mensagemErroConfirmarSenha()" label="Confirme sua senha" ngDefaultControl/>
            </div>
            <div class="col-12 ">
                <app-form type="select" [items]="opcoesOndeConheceu" [exibirLabelObrigatoriedade]="true" [readonly]="loadingRequest()" id="ondeConheceu" formControlName="ondeConheceu" placeholder="Digite onde você conheceu a GoodGain" erro="Informe onde você conheceu a GoodGain!" label="Onde você conheceu a GoodGain?" ngDefaultControl/>
            </div>
        </div>
        <p-button label="Entrar" [disabled]="loadingRequest()" [loading]="loadingRequest()" (click)="cadastro()" styleClass="w-full"/>
        <p class="text-sm mt-3 text-center">Já possui uma conta? <span class="text-primary redefinir cursor-pointer" (click)="redirectLogin()">Entrar</span></p>
    </form>
</section>