.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    z-index: 100;
    box-sizing: border-box;
    border: 1px solid rgba(211, 211, 211, .03);
    background-color: var(--surface-a);
}

.logo{
    width: 10rem;
}

.logoMobile{
    width: 8rem;
}

.menu{
    padding: 0.5rem 1rem;
    margin: 0 0 0 2rem;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 50%;
  vertical-align: middle;
}

.itemMenu.notSelected:hover {
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}

.ativo{
    color: var(--primary-color);
}