<div class="footer">
  <div class="flex justify-content-between align-items-center py-5 px-5">
    <img src="../../../../assets/img/icons/GoodGainCompleto.svg" width="150" alt="GoodGain Logo">
    <div class="flex gap-5 align-items-center">
      <p class="m-0 p-0">Sobre nós</p>
      <p class="m-0 p-0">Política de Privacidade</p>
      <p class="m-0 p-0">Ajuda</p>
    </div>
    <div class="flex align-items-center">
      <p>© 2025 GoodGain. Todos os direitos reservados.</p>
    </div>
  </div>
</div>
