<div class="footer">
  <div class="sm:flex-column sm:justify-content-center align-items-center md:flex md:flex-row md:justify-content-between py-5 px-5">
    <div class="flex gap-5 align-items-center justify-content-center">
      <img src="../../../../assets/img/icons/GoodGainCompleto.svg" width="150" alt="GoodGain Logo">
    </div>
    <div class="flex gap-5 align-items-center justify-content-center">
      <p class="m-0 p-0 itemFooter">Sobre nós</p>
      <p class="m-0 p-0 itemFooter">Política de Privacidade</p>
      <p class="m-0 p-0 itemFooter">Ajuda</p>
    </div>
    <div class="flex align-items-center justify-content-center">
      <p>© 2025 GoodGain. Todos os direitos reservados.</p>
    </div>
  </div>
</div>
